<head th:replace="~{fragments/header :: head}"></head>
<nav th:replace="~{fragments/navbar :: nav}"></nav>
<article class="shadow-md bg-white dark:bg-gray-800 tracking-wide pb-24">
    <main class="max-w-md mx-auto mt-20 p-6 bg-white rounded-xl shadow">
        <h1 class="text-2xl font-semibold mb-6" th:text="${pageTitle}"></h1>

        <div th:if="${error}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
            <span class="block sm:inline" th:text="${error}"></span>
        </div>

        <form th:action="@{/profile}" th:object="${profile}" method="post" enctype="multipart/form-data"  class="flex flex-col gap-4">
            <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
            <input type="text" id="name" th:field="*{name}" class="input px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" />

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{photo}" />
            <label for="birthday" class="block text-sm font-medium text-gray-700">Geburtstag:</label>
            <input type="date" id="birthday" th:field="*{birthday}" class="input px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" />

            <div>
                <label for="imageFile" class="block text-sm font-medium text-gray-700">Wähle ein Bild aus:</label>
                <input type="file" id="imageFile" name="imageFile" accept="image/*" class="mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" />
                <p class="mt-1 text-xs text-gray-500">Nur Bilddateien (.jpg, .png, .gif, etc.) erlaubt.</p>
            </div>

            <label for="sex" class="block text-sm font-medium text-gray-700">Geschlecht:</label>
            <input type="text" id="sex" th:field="*{sex}" placeholder="z.B. 01:30:00" class="input px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" />

            <label for="mainClub" class="block text-sm font-medium text-gray-700">Hauptverein:</label>
            <input type="text" id="mainClub" th:field="*{mainClub}"  class="input px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" />

            <label for="weight" class="block text-sm font-medium text-gray-700">Gewicht:</label>
            <input type="text" id="weight" th:field="*{weight}" class="input px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" />

            <label for="url" class="block text-sm font-medium text-gray-700">URL:</label>
            <input type="text" id="url" th:field="*{url}" class="input px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" />

            <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">Speichern</button>
            <a th:href="@{/runs}" class="block text-center mt-2 text-gray-600 hover:text-gray-800">Abbrechen</a>
        </form>
        <div th:if="${message}" class="mt-4 p-3 rounded-md text-sm"
             th:classappend="${'bg-green-100 text-green-800' eq messageType ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'}">
            <p th:text="${message}"></p>
        </div>
    </main>
</article>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
